/* 
text-transform: uppercase; Konvertuoja visas raides i didžiąsias
text-transform: lowercase; Konvertuoja visas raides į mažąsias 
text-teransform: capitalize; Konvertuoja kiekvieno žodžio pirmają raidę į didžiają
*/

* {
    box-sizing:  border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.21;
    color: initial;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-image: linear-gradient(to right, rgb(32, 40, 119), rgb(55, 46, 149), rgb(83, 49, 177), rgb(114, 48, 205), rgb(150, 41, 230));
}

.logo a {
    display: block;
}

.logo img {
    width: 120px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}

.flex-grow {
    flex: 1 1 0%;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.header-row {
    padding: 18px 0 10px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px 18px;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.navigation ul li a:hover {
    opacity: 1;
}

.intro {
    background: url('../images/hero-bg-1.jpg') no-repeat center center / cover;
    position: relative;
}

.intro::before {
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
}

.intro-container {
    padding-top: 90px;
    padding-bottom: 90px;
}

.introText {
    color: white;
    width: 50%;
}

.introText h4 {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    color: white;
}

.introText h2 {
    font-size: 42px;
    margin: 0 0 15px;
    color: white;
}

.introText p {
    font-size: 20px;
}

.introImage {
    width: 40%;
}

.introImage img {
    max-width: 100%;
}

.buttonHolder {
    padding-top: 10px;
}

.button {
    color: white;
    font-weight: 700;
    display: inline-block;
    padding: 13px 25px;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: white;
    color: rgb(57, 51, 173);
}

.row {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background: #ffffff;
    width: 100%;
    position: relative;
    bottom: -150px;
    padding: 30px 0;
    border-radius: 6px;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 12%);
    text-align: center;
}

.row li {
    flex: 1;
}

.row span {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #9629e6;
    font-size: 25px;
    line-height: 28px;
}

.row h6 {
    color: #707070;
    font-size: 15px;
    font-weight: 400;
    line-height: 26.25px;
    margin: 0;
}

.row .inner-row-box {
    border-right: 1px solid rgb(235, 235, 235);
}

.promo-section {
    margin-top: 3rem;
    padding: 100px 0;
}

.promo-text {
    width: 540px;
    margin-bottom: 45px;
    padding: 0 15px;
}

.promo-text span {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #9629e6;
    text-transform: uppercase;
    font-size: 15px;
}

.promo-text h2 {
    margin: 0 0 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.21;
    color: initial;
    font-size: 36.615px;
}

.card-row {
    gap: 30px;
}

.card-body {
    flex: 1;
    border: 1px solid #eff2f7;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 12%);
    border-radius: 1rem;
    padding: 22.5px;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s ease-in-out;
}

.color-secondary {
    color: #9629e6;
}

.icon-md {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 0.5rem;
}

.card-body h5 {
    font-size: 18.75px;
    line-height: 22.6875px;
}

.card-text {
    color: #6c757d;
    font-size: 15px;
    margin: 0 0 1rem;
    line-height: 26.25px;
    transition: all .2s ease-in-out;
}

.card-body:hover, .card-body:hover .card-text {
    color: #fff;
}

.card-body:hover {
    background-color: #6730e3;
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125)
}

.about-us {
    padding: 100px 0;
    background-color: #f4f7fa;;
}

.about-us-text {
    flex: 0.41666667 1 0%;
}

.about-us-img {
    flex: 0.5 1 0%;
}

.about-us span {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #9629e6;
    text-transform: uppercase;
}

.about-us p, .about-us ul {
    margin-bottom: 1.5rem;
    font-size: 15px;
    line-height: 26.25px;
    color: #707070;
}

.about-us ul {
    list-style: circle;
}

.about-us li {
    padding: 0.5rem 0;
}